HOST=localhost
PORT=3000
GOOGLE_MAP_API_HOST=https://maps.googleapis.com/maps/api/directions/json
GOOGLE_MAP_API_KEY=

REDIS_NAMESPACE=namespace/lalamove
REDIS_HOST=redis
REDIS_PORT=6379

# in secords
REDIS_KEY_EXPIRE_TIME=300